# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Bb]in
csx/
rcf/
[Oo]bj
logistics/bin

#User-specific files
.vs/
*.suo
*.csproj.user
*.ccproj.user
*.sln.DotSettings.user
*.csproj.DotSettings.user
*.pubxml.user
*.dbmdl

#NCrunch
_NCrunch*
*.ncrunchsolution
*.ncrunchsolution.user
*.ncrunchproject
*.ncrunchsolution
#Vim backup files
*~

#MS Office Backup Files
~*

#Resharper files
_ReSharper.*
*.resharper
*.resharper.user

#Others
*.cache
*.orig
*.original

#Packages
App_Packages/
packages/
/*.dll
/*.pdb
/*.XML
/src/.vs/Ed-Fi-SDG/v16/Server/sqlite3
/src/EdFi.SampleDataGenerator.Console/Samples/SampleDataGenerator/DataFiles/nces-2019.db
src/EdFi.SampleDataGenerator.Console/Samples/SampleDataGenerator/DataFiles/nces-2019.zip
